/*html {
     border: 3px solid rgb(201, 142, 99);
}


body {
    background-color: rgb(80, 40, 20);
}


a {
    position: relative;
    margin-top: 0;
    float: right;
    color: rgb(201, 142, 99);
    text-decoration: none;
}


a:hover {
    position: relative;
    color: white;
}



h1 {
    font-size: 40px;
    background-color: rgb(201, 142, 99);
    color: black;
    text-align: center;
    text-shadow: 3px 3px 3px #5B2222;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}


h1:hover {
    color: rgb(100, 50, 30);
    text-align: center;
    text-shadow: 5px 6px 3px black;
    text-shadow: 3em;
}


hr {
    border: 1.5px solid rgb(201, 142, 99);
}


.introduction {
    font-size: 20px;
    color: rgb(201, 142, 99);
    position: relative;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}



.text {
    line-height: 1.8;
    color: rgb(20, 0, 4);
    background-color: rgb(201, 142, 99);
    font-size: 20px;
    border: 3px solid rgb(100, 50, 30);
    margin: 0 auto;
    width: 800px;
    padding: 10px;
    
}*/








